body {
	background-color: black;
	color: white;
	margin: 10%;
}

#body-container {
	display: flex; 
	flex-direction: column;
	justify-content: center; 
	align-items: center;
}

a {
	color: white;
	margin: 10%;
	font-size: 3em;
	font-family: 'Rubik', sans-serif;
	text-decoration: none;
	outline: 0;
}

a:hover {
	color: white;
	text-decoration: none;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #e60073;
}